
<div class="d-flex">
  <div>
    <div class="d-flex" *ngFor="let rect of rectangles">
      <div *ngFor="let r of rect">
        <div class="rectangles" (click)="startTests(r)" [ngClass]="{
        'target-rect': r == targetPosition,
        'searcher-rect': r == searcherPosition,
        'wall-rect': walls.indexOf(r) != -1,
        'pointer': isLearned
        }">
          {{r}}
        </div>
      </div>
      <br>
    </div>
  </div>
  <div class="right-side">
    <button [disabled]="isLearned" (click)="learn()">Start learning</button>
    <div class="d-flex align-items-center rq">
      <div><strong>Q = </strong></div>
      <table style="margin: 50px 10px">
        <tr class="d-flex" *ngFor="let q of Q">
          <td style="width: 25px; font-size: 10px" *ngFor="let qq of q">
            {{qq}}
          </td>
        </tr>
      </table>
    </div>
  </div>
</div>

<div class="d-flex numbers">

  <div class="d-flex align-items-center rq">
    <div><strong>R = </strong></div>
    <table>
      <tr class="d-flex" *ngFor="let r of R">
        <td style="width: 25px" *ngFor="let rr of r">
          {{rr}}
        </td>
      </tr>
    </table>
  </div>


</div>
